{% extends 'base/base.html'%}

{% block main %}
<div class="section">
    <div class="row">
        <div id="card-sobre" class="card-panel col s12">
            <h1 class="logo-devjobs center"> DevJobs </h1>
            <div class="divider"></div>
            <span class="body">
                <p class="center">
                    Esta plataforma é apenas um protótipo, foi desenvolvido como <span class="bold">trabalho 
                    final do curso de mineração de dados aplicada</span>, do Instituto Federal do 
                    Sudeste de Minas Gerais - Campus Barbacena. 
                </p>

                <p class="center">
                    A plataforma tem o objetivo de 
                    facilitar para os usuário a forma de encontrar vagas de emprego e ter opções para 
                    aprimorar seus conhecimentos. Com este objetivo, utiliza-se técnicas de mineração de 
                    dados para encontrar vagas, competêcias e sugerir cursos de uma forma mais eficiente, 
                    utilizando similaridade de cossenos e correlação entre os conteúdos.
                </p>
            </span>
            <p class="left">
                Criado por: <a href="http://github.com/guilhermedomith">Guilherme Domith</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}