{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevJobs</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=4">
</head>

<body>

    {% include 'base/sidenav.html' %}

    <main>
        <div class="container">
            {% block main %} {% endblock %}
        </div>
    </main>


    {% include 'base/footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/config_ajax.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();

            /* Não utilizado*/
            $('a.chip').on('click', (e)=>{
                console.log($(e.target).html())

                $.ajax({
                    method: "POST",
                    url: "/jobs/",
                    data: { search_jobs: $(e.target).html() }
                })
            });

        });
    </script>
    {% block script %} {% endblock %}
</body>

</html>